.poc-player .bing-menu {
  z-index: 2147483647;
  width: 100%;
  height: 60px;
  display: block;
  position:absolute;
  bottom: 30px;
  opacity:0.5;
  background-color:yellow;
}
.poc-player .bing-menu .bing-link{
  background-color: blue;
  color: white;
  width:60px;
  height:60px;
  display:inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.poc-player .bing-menu .bing-link:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.poc-player .vjs-subtitles-button {
  display: none;
}
video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}

.poc-player .hq-btn {
    height: 24px;
    width: 36px;
    font-size: 16px;
    line-height: 14px;
    padding: 5px;
    margin: 3px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
}
.poc-player .active {
  color: red !important;
  border-color: red !important;
}
.monitoring {
  font-size: 18px;
  line-height:20px;
  font-weight: bold;
  color: black;
}
#total-connections {
  border-bottom: 2px solid black;
}
#connections-list {
  list-style-type: none;
  margin:0;
  padding:0;
}
#connections-list li{
  padding: 5px 5px 5px 0;
  text-decoration: underline;
}
.list-data{
  float:left;
  width: 30%;
  border-bottom: 1px solid black;
  padding:5px;
}
.monitoring h3{
  padding:5px;
  margin:0;
}